<div style="margin-left:100px"><h1>My Cart</h1></div>
<div *ngIf="globalData.cartProductCount>0" class="container" style="margin-left:60px; width:1800px">
    <div class="row">
        <div class="col-md-8">
                <ul >
                        <li>
                                <table class="table table-hover text-center bg-faded">
                                        <thead class="thead-faded">
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th style="text-align: center; width:800px">Description</th>
                                            <th><button class="btn btn-block" (click)=removeAllItemsFromCart(cart.cartId)>Remove All</button></th>
                                            <th><button class="btn btn-block" (click)=buyAllItemsFromCart(cart.cartId)>Buy All</button></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of cartProducts">
                                            <th	scope="row">{{item.productName}}</th>
                                            <td> {{item.productPrice}}</td>
                                            <td> <select [(ngModel)]="item.productQuantity" (change)="updateProductQuantity(item)">
                                                    <option *ngFor="let items of [1,2,3,4,5,6,7,8,9,10,11]" value={{items}}>
                                                        {{items}}
                                                    </option>
                                                </select></td>
                                            <td style="text-align: left; width:800px">{{item.productDesc}}</td>
                                            <td><button type="button" class="btn btn-default btn-sm" (click)="removeItemFromCart(item)">
                                                    <span class="glyphicon glyphicon-remove"></span>Remove 
                                            </button></td>
                                            <td><button class="btn btn-block" (click)="buyItemFromCart(item)">Buy</button></td>
                                        </tr>
                                        </tbody>
                                    </table>                         
                                  </li>
                                </ul>
                            </div>
                 </div>
   
</div>
<br>
<div *ngIf="globalData.cartProductCount==0" class="container" style="margin-left:100px; width:1800px; color:red">
Cart is empty. Please add items to cart from product page to create an order
</div>
<br>
<div *ngIf="orderCreationFlag" class="container" style="margin-left:100px; width:1800px; color:blue">
Order created successfully. Order Tracking Number is <b>{{currentOrderTrackingNumber}}.</b>
</div>



