<h2><b>Categories </b></h2>
<ul class="products">
  <li *ngFor="let product of products"
    [class.selected]="product === selectedproduct"
    (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>

<div *ngIf="selectedproduct">

  <h2>{{selectedproduct.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedproduct.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedproduct.name" placeholder="name">
    </label>
  </div>

</div>