
<div class="signin-content">
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
   <form (ngSubmit)="onSubmit()"> 
       <h4>Please login to continue</h4>
      <input type="text" placeholder="User"> <br>
      <input type="password"  placeholder="Password" > <br>
      <button type="submit">Submit</button> 
      <button type="reset">clear</button>
   </form>
</div>

<!--
  <div class="signin-content">
      <mat-card>
        <mat-card-content>
         <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
            <p>Please login to continue</p>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="User" formControlName="userName" required>
              
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
            
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  -->