  <div style="margin-left:60px;margin-top:25px" *ngIf="!validate && !validateDetails"> 
   <h4 style="color: blue">Please login to continue {{globalObj.data}}</h4>
   <input type="text" class="form-control" name="userName" placeholder="User" [(ngModel)]="userJson.name"> <br>
   <input  type="password" class="form-control" name="userPassword" placeholder="Password" [(ngModel)]="userJson.pswd"> <br>
   <button class='btn btn-primary' style="margin-top:5px" type="submit" name="userClick" (click)="onSubmit()">Submit</button>
   <button class='btn btn-primary' style="margin-left:12px;margin-top:5px" type="reset">clear</button>     
  </div>
  <div *ngIf="validate">   
    Welcome {{userJson.name}}
 <!--  <div *ngIf="validate && userloggedin">Welcome {{userJson.name}} ! style="display:block;color: white"-->
  </div>
 <div *ngIf="validateDetails">   
      Please provide valid details!
  </div>
