<h3>searchproduct works (displyas a search text box here)</h3>

<!-- <body ng-app ng-init="placesVisited=['Delhi','Kerala','Tamil Nadu',
                                     'Banglore','Uttar Pradesh','Noida','Haryana','Thrissur'];">  
    <div>  
        <input type="text" ng-model="curPlace" class="inputText">  
        <ul>  
            <li ng-repeat="place in placesVisited | filter:curPlace">  
                <a ng-href="https://www.google.co.in/webhp?q={{place}}">{{place}} </a>  
            </li>  
        </ul>  
    </div>  
    <script src="angular.min.js"></script>  
</body>
 -->
         <input type="text" ng-model="curPlace" class="inputText">  
 