

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
      
    }
    
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 15px;
    }
  </style>
</head>
<body>

<div class="jumbotron" >
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <img src = "../assets/logo.png" alt="icon" height="45px"/>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
       <li (click)="movecategories()"><a routerLink="/categories">Categories</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/homepageheader"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li (click)="showLogin=!showLogin;"><a routerLink="/homepageheader" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li (click)="movePage()"><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li (click)="moveCart()" ><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        <li (click)="logout()" ><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

      </ul>

      <div *ngIf="showLogin" style="display:block; color: white">
        <div *ngIf="!validate"> 
          <h4>Please login to continue</h4>
         <input type="text" class="dropdown-item" name="userName" placeholder="User" [(ngModel)]="userJson.name"> <br>
         <input type="password" class="dropdown-item" name="userPassword" placeholder="Password" [(ngModel)]="userJson.pswd"> <br>
         <button type="submit" name="userClick" (click)="onSubmit()">Submit</button> 
         <button type="reset">clear</button>
      </div>
      <div *ngIf="validate">
        Welcome {{userJson.name}} !
      </div>

      </div>
     
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="true">    
  <div *ngSwitchCase="switchPage === 'page1'">


    

    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Sculcandy Earphones</div>
        <div class="panel-body"><img src="../assets/image_02.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $100</pre><a href="#">see more about product....</a></div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">HP USB</div>
        <div class="panel-body"><img src="../assets/image_03.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $5560</pre><a href="#">see more about product....</a></div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Sandisk 64GB USB</div>
        <div class="panel-body"><img src="../assets/image_04.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $5670</pre><a href="#">see more about product....</a></div>
      </div>
    </div>   

    <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Lipstick </div>
          <div class="panel-body"><img src="../assets/FashionImg1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
        </div>
      </div>

    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">JBL Earphones</div>
        <div class="panel-body"><img src="../assets/image_05.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Lenovo Desktop</div>
        <div class="panel-body"><img src="../assets/image_06.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $5000</pre><a href="#">see more about product....</a></div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Juice Maker</div>
        <div class="panel-body"><img src="../assets/HomeAppliancesImg1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
      </div>
    </div>

    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Dell Laptop</div>
        <div class="panel-body"><img src="../assets/image_07.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><pre>Price $9650</pre><a href="#">see more about product....</a></div>
      </div>
    </div>

<br><br>
<a (click)="imagepage2()" >
  See more....
</a></div>

  <div *ngSwitchCase="switchPage === 'page6'">
      <pre>
       <p>This page should show the 2nd page product image.
        Add remaining images here 
       </p>
      </pre> 

      <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Compact </div>
            <div class="panel-body"><img src="../assets/FashionImg2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Aquagaurd Purifier</div>
              <div class="panel-body"><img src="../assets/HomeAppliancesImg3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
            </div>
          </div>


          <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">Red Lipstick </div>
                <div class="panel-body"><img src="../assets/FashionImg3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
              </div>
            </div>

      <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Mixer</div>
            <div class="panel-body"><img src="../assets/HomeAppliancesImg2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"><pre>Price $5067</pre><a href="#">see more about product....</a></div>
          </div>
        </div>

     </div>

  <div *ngSwitchCase="switchPage === 'page2'">
    <h1>My Acoount</h1>
  </div>

  <div *ngSwitchCase="switchPage === 'page3'">
    <h1>My Cart</h1>
  </div>

  <div *ngSwitchCase="switchPage === 'page4'">
      <app-categories></app-categories>
    </div>

    <div *ngSwitchCase="switchPage === 'page5'">
       <pre>
        <p>You have been logged out.
          Thank you for using our website</p>
       </pre> 
      </div>


      


  <div *ngSwitchDefault>
    <p>default</p>
</div>

</div>   <br>



<footer class="container-fluid text-center">
  <p>Online Store Copyright 
      Copyright 2017-2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license<span class="glyphicon glyphicon-copyright-mark"></span></p>    

</footer>

</body>
</html>



<!--
  <app-searchproduct></app-searchproduct>
<app-categories></app-categories>
<app-aboutwebsite></app-aboutwebsite>
-->
 


