<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
      
    }
    
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 15px;
    }
  </style>
</head>
<body>

<div class="jumbotron" >
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Buy Now Just with One Click</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <img src = "../assets/logo.png" alt="icon" height="25px"/>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
       <li (click)="movecategories()"><a routerLink="/categories">Categories</a></li>
        
      </ul> 
      <ul class="nav navbar-nav navbar-right">
              <li (click)="signUpPage()"><a routerLink="/homepageheader"><span class="glyphicon glyphicon-user" placement="top" ngbTooltip="Tooltip on top"></span> Sign Up</a></li>
              <li (click)="showUserDetails()" *ngIf="!showLogin"><a routerLink="/homepageheader" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li (click)="movePage()"><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li (click)="moveCart()" ><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        <li (click)="logout()" ><a  routerLink="/homepageheader" ><span class="glyphicon glyphicon-off"></span>Logout</a></li>
      </ul>

      <div *ngIf="showLogin" style="display:block; color: white">
        <div *ngIf="!validate && !userloggedin"> 
          <h4>Please login to continue</h4>
         <input type="text" class="dropdown-item" name="userName" placeholder="User" [(ngModel)]="userJson.name"> <br>
         <input type="password" class="dropdown-item" name="userPassword" placeholder="Password" [(ngModel)]="userJson.pswd"> <br>
         <button type="submit" name="userClick" (click)="onSubmit()">Submit</button> 
         <button type="reset">clear</button>
      </div>
      <div *ngIf="validate && userloggedin">
        Welcome {{userJson.name}} !
      </div>

      </div>
     
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="true">    
  <div *ngSwitchCase="switchPage === 'page1'" >

    <div class="col-sm-3" *ngFor="let product of products"> 
        <div *ngIf="product.categoryId=='1' || product.categoryId=='2' || product.categoryId=='3' ">
      <div class="panel panel-primary">
        <div class="panel-heading">{{product.title}} </div>
        <div class="panel-body"><img src="{{product.image}}"  class="img-responsive" style="width:120%; align-content: center" alt="Image"></div>
        <div class="panel-footer">
            <i style="font-size:15px" class="fa">&#xf155;</i>{{product.price}}
              <a (click)="moveCart()" routerLink="/homepageheader">
                  <div class="glyphicon glyphicon-shopping-cart"  style="margin-left:160px; font-size:18px"></div>
              </a>  <br>
              <a (click)="productPage()" >
                  see more...
              </a>
      </div>     
     </div>
    </div>
  </div>

<br><br>
<a (click)="imagepage2()" >
    next page...
</a>
</div>

  <div *ngSwitchCase="switchPage === 'page6'">
    
      <div class="col-sm-3" *ngFor="let product of products"> 
          <div *ngIf=" product.categoryId=='4' || product.categoryId=='5' || product.categoryId=='6'">
        <div class="panel panel-primary">
          <div class="panel-heading">{{product.title}} </div>
          <div class="panel-body"><img src="{{product.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
              <i style="font-size:15px" class="fa">&#xf155;</i>{{product.price}}

              <a  (click)="addToCart(product)">
                <div class="glyphicon glyphicon-shopping-cart"  style="margin-left:160px; font-size:18px"></div>
               
            </a> <br>
         <a (click)="productPage()" >
            see more..
        </a>
        </div>     
       </div>
      </div>
    </div>
    <a (click)="goBack()" >
       previous_page
    </a>
  </div>

  <div *ngSwitchCase="switchPage === 'page2'">
    <h1>My Acoount</h1>
    <label> User Name: </label>
  </div>

  <div *ngSwitchCase="switchPage === 'page3'">
    <app-cart></app-cart>
  </div>

  <div *ngSwitchCase="switchPage === 'page4'">
      <app-categories></app-categories>
    </div>

    <div *ngSwitchCase="switchPage === 'page5'">
       <pre>
        <p>You have been logged out.
          Thank you for using our website</p>
       </pre> 
      </div>


      <div *ngSwitchCase="switchPage === 'page7'">
          <app-productpage></app-productpage>
        </div>    

        <div *ngSwitchCase="switchPage === 'page8'">
            <app-register></app-register>
          </div>   
<div *ngSwitchDefault>
    <p>default</p>
</div>

</div>  
<br>
</body>
</html>

<!--
this is icon for wishlist
<a href="#"><div class="glyphicon glyphicon-bookmark"  style="margin-left:70px;"></div></a>


(click)="addToCart(product.ProductID,product.categoryId,product.title,product.price,product.image,product.desc)"
-->