mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left:6px;
  display: inline-block;
  /*background-color:rgb(16, 115, 172);
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  border-width: 1px; */
  
 
}
nav a:visited, a:link {
  color:rgb(199, 183, 183);
}
nav a:hover {
  color: #acd0e2;
  background-color: rgb(163, 223, 23);
}
nav a.active {
  color: #039be5;
}

.jumbotron {
 
  /*background-color :rgb(255, 115, 0) !important; */
background: transparent;
background-image:url("src/assets/online-shopping.png");
}

.dropdown-menu{
left:55%;
width:100%;
}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0}.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa}.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff}.dropdown-item.disabled,.dropdown-item:disabled{color:#6c757d;background-color:transparent}.dropdown-menu.show{display:block}.dropdown-header{display:block;padding:.5rem 1.5rem;margin-bottom:0;font-size:.875rem;color:#6c757d;white-space:nowrap}.dropdown-item-text{display:block;padding:.25rem 1.5rem;color:#212529}

.panel-heading{
background-color: #007bff
}