
<h1>My Cart</h1>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <ul >
                        <li>
                                <table class="table table-hover text-center bg-faded">
                                        <thead class="thead-faded">
                                        <tr>
                                            <th>Name</th>
                                            <th >Amount</th>
                                            <th>Quantity</th>
                                            <th style="text-align: center">Desc</th>
                                            <th><button class="btn btn-block">Remove All</button></th>
                                            <th><button class="btn btn-block">Buy All</button></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of cartItems">
                                            <th	scope="row">{{item.title}}</th>
                                            <td> {{item.price}}</td>
                                            <td> <select (change)="filterForeCasts($event.target.value)">
                                                    <option value="0">1</option>
                                                    <option *ngFor="let item of [2,3,4,5,6,7,8,9,10,11]" value={{item}}>
                                                        {{item}}
                                                    </option>
                                                </select></td>
                                            <td>{{item.desc}}</td>
                                            <td><button type="button" class="btn btn-default btn-sm" (click)="removeItemFromCart(item.ProductId)">
                                                    <span class="glyphicon glyphicon-remove"></span>Remove 
                                            </button></td>
                                            <td><button class="btn btn-block">Buy</button></td>
                                        </tr>
                                        </tbody>
                                    </table>                         
                                  </li>
                                </ul>
                            </div>
                            <h5>Cart total price is:{{cartJsonArray.cartId}}</h5>
                            <h5 *ngFor="let item of cartProductJsonArray">Product Id is:{{item.productId}} 
                                Cart Id is{{item.cartId}}Product Qauntity{{item.productQuantity}}</h5>
                 </div>
   
</div>



