
<h1>My Cart</h1>
<!-- 
<p>THis is in cart.html before printing</p>
<div *ngFor="let productObj of CartService.cartItem">  
{{productObj}}
</div>
<p>THis is in cart.html after printing</p>
-->
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
               <p>THis is in cart.html before printing  </p>
                <ul *ngFor="let item of cartItems2">
                        <li>
                          <span> {{item.title}} </span> 
                          <span><button type="button" (click)="removeItemFromCart(item)">Remove</button></span>
                        </li>
                </ul>
                <p>THis is in cart.html after printing</p>    
           <!-- <table class="table table-hover text-center bg-faded">
                <thead class="thead-faded">
                <tr>
                    <th>Name</th>
                    <th >Amount</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th	scope="row">product 1</th>
                    <td> 10$</td>
                    <td>1x</td>
                    <td>10$</td>
                </tr>
                <tr>
                    <th	scope="row">Product 2</th>
                    <td>90$</td>
                    <td>2x</td>
                    <td>180$</td>
                </tr>
                </tbody>
            </table> -->
        </div>
       

        <div class="col-md-4">
            <button class="btn btn-block">Buy All</button>
            <button class="btn btn-block">Buy</button>
            <button class="btn btn-block">Buy</button>
        </div>
<!--
        <div class="col-md-2">
        <button type="button" class="btn btn-block" (click)="removeItemFromCart(item.id)">
                <span class="glyphicon glyphicon-remove"></span> Remove All 
        </button>
        <button type="button" class="btn btn-block" (click)="removeItemFromCart(item.id)">
                <span class="glyphicon glyphicon-remove"></span> Remove 
        </button>
        <button type="button" class="btn btn-block" (click)="removeItemFromCart(item.id)">
                <span class="glyphicon glyphicon-remove"></span> Remove 
        </button>
        </div>
 -->
    </div>
   
</div>



